h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 50px;
}

fieldset > div {
    padding-top: 100px;
}

.choice {
    font-style: oblique;
    font-size: 120%;
    font-family: fantasy;
}

.number {
    background-color: crimson;
}

.dropdown-root .dropdown > li {
    list-style-type: none;
    border: thin solid black;
    background-color: chartreuse;
    padding: .1em;
}